<!DOCTYPE html>
<html lang="en">


<head>

<meta charset="UTF-8">

<title>
Noesis Resource
</title>


<link rel="stylesheet" href="/static/style.css">


</head>




<body>



<nav>


<h1>
Noesis
</h1>



<a href="/library">
Back to Library
</a>



</nav>





<div class="resource-page">



<h2>

{{ resource[1] }}

</h2>



<hr>




<p>

{{ resource[2] }}

</p>



<h3>
Details
</h3>



<p>

<strong>
Subject:
</strong>

{{ resource[3] }}

</p>




<p>

<strong>
Syllabus:
</strong>

{{ resource[4] }}

</p>




<p>

<strong>
File:
</strong>

{{ resource[5] }}

</p>





<a class="button"

href="/download/{{ resource[5] }}">

Download Resource

</a>
<br><br>


<form

method="POST"

action="/delete/{{ resource[0] }}"

>


<button

type="submit"

onclick="return confirm('Delete this resource?')">

Delete Resource

</button>


</form>

<h3>
Connected Resources
</h3>


{% if related %}


<ul>


{% for item in related %}


<li>

<a href="/resource/{{ item[0] }}">

{{ item[1] }}

</a>


</li>


{% endfor %}


</ul>



{% else %}


<p>
No connected resources yet.
</p>



{% endif %}



<br>


<a class="button"

href="/link/{{ resource[0] }}">

+ Link Resource

</a>

</div>





</body>


</html>